*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:#4299A8;
  color:#fcf3e3;
}

#contain{
position: absolute;
top: 50%;
transform: translate(0,-50%);
  width: 100%;
  height:500px;
  display: flex;
  justify-content: center;
align-items: center;
}

.buttons{
  background: white;
  border: none;
  padding: 5px;
  box-shadow: #0E6393 2px 2px 5px;
  border-radius: 3px;
  color: #fcf3e3;
  background-color: #214a52;
}

#last{
  position: relative;
  width: 100%;
  display: flex;
  text-align: center;
}

#speak{
 position: absolute;
 left: 8%;
width: 40%;
font-size: 25px;
}

#right{
  position: absolute;
  right: 8%;
  font-size: 35px;
  border-bottom: 2px dotted #214a52;
  padding-bottom: 2px;

}

.animation{
  animation: clicked .2s;
}

@keyframes clicked {
  to{
  transform:translateY(2%) translateX(2%);
  box-shadow: #0E6393 4.5px 4.5px 8px;
  }
}

#text-container{
  position:absolute;
 bottom: 30%;
 width: 100%;
}

#text-field{
  width:100%;
  height: 25px;
    text-transform: lowercase;
    outline-color:#0E6393 ;
    border: none;
    box-shadow: #0E6393 3px 3px 7px;
    padding: 15px;
    background-color: #fcf3e3;
}

.wrong{
    color:#ad080b;
    font-size: 25px;
}


.correct{
color:#327308;
font-size: 25px;
}

.black{
  color: black;
  font-size: 25px;
}

#check{
  width: 60px;
  height: 25px;
position: absolute;
right: 0;
background:#214a52;
color: #fcf3e3;
border: none;
font-size: 17px;
top: 50%;
transform: translate(0,-50%);
right: 1%;

}

#score{
font-size: 35px;
}


#container{
  position: relative;
  display:flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  height: 50%;
  text-align: center;
}

#container2{
  display:flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  height: 50%;
  text-align: center;
}

#missed{
  position: relative;
  left: 50%;
  transform: translate(-50%);
 display: flex;
 justify-content: center;
 text-align: center;
  width: 75%;
  height:100%;
  border: 2px solid;
  overflow-y: scroll;
  background:#fcf3e3;
  border: none;
  border-radius: 3px;
  box-shadow: #0E6393 3px 3px 8px;
}

#li-container{
  position: absolute;
  left: 5%;
  text-align: left;
margin-top: 10px;
}

.div{
display: flex;
gap: 8px;
}

#missed::-webkit-scrollbar {
    width: 15px;
  }
   
  /* Handle */
  #missed::-webkit-scrollbar-thumb {
    background-color:#0E6393;
    box-shadow: inset 0 0 8px lightblue; 
  }

  #title{
position: absolute;
top: -5%;
font-size: 50px;
  }